<mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-header-center">検索</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="field-item field-display">
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field-item field-display">
      <mat-label>Ticker</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <span *ngIf="panelOpenState">
      <button class="field-display" mat-raised-button color="primary" (click)="searchStocks()">検索</button>
    </span>
    <span *ngIf="!panelOpenState">
      <button class="field-display" mat-raised-button color="primary" (click)="clearSearch()">クリア</button>
    </span>
  </mat-expansion-panel>
</mat-accordion>

<span *ngIf="!panelOpenState">
  <app-stock-lists></app-stock-lists>
</span>
