$sp: 480px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

footer
{
  .items{
    padding: 20px 10px;
  }
  .copyright{
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
  }
}

ul{
  display: flex;
  justify-content: space-around;
  @include sp{
    display: unset;
    padding-left: 0;
  }
}

li{
  list-style-type: none;
  @include sp{
    width: 90%;
    display: inline-block !important;
    margin: 10px 5px 10px 40px;
  }
  a{
    cursor: pointer;
  }
  a:hover{
    text-decoration: underline;
    opacity: 0.7;
  }
}
