<div class="list-explanation">
  <mat-hint>
    〇：割安　△：やや割安やや割高　✕：割高　-:計算不可
    <br>※計算基準は<a class="culculare-link" href="{{link}}" target="_blank" rel="noopener noreferrer">こちら</a>をご覧ください。
  </mat-hint>
</div>


<table>
  <thead>
    <tr>
      <td *ngFor="let head of displayedColumns">{{head}} </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of displayList">
      <td>{{el.ticker}}</td>
      <td>{{el.name}}</td>
      <td>{{ changeDisplayItem(el.lowPER, el.highPER, el.tempPER) }}</td>
      <td>{{ changeDisplayItem(el.lowPSR, el.highPSR, el.tempPSR) }}</td>
      <td>{{ changeDisplayItem(el.lowPBR, el.highPBR, el.tempPBR) }}</td>
      <td>{{ changeDisplayItemYeild(el.lowYeild, el.highYeild, el.tempYEILD) }}</td>
    </tr>
  </tbody>
</table>

