table {
  width: 80%;
  margin: 20px auto;
}

.perColor {
  font-weight: bold;
  color: red;
}

.list-explanation{
  text-align: center;
  margin: 10px 30px;
  padding: 20px;
  border: dashed 11px white;
  color: #454545;
  border: dashed 3px #4545;
}

.culculare-link{
  text-decoration: none;
}

.culculare-link:hover{
  text-decoration: underline;
}

td{
  text-align: center;
}

table thead tr{
  background-color: #cde4ff;
  font-weight: bold;
}

table tbody tr:nth-child(odd){
  background-color: #eee
}
