.wrap-card {
  text-align: center;
  margin: 30px 0;
}

.wrap-card .card {
  width: 40%;
  display: inline-block;
}

@media (max-width: 480px) {
  .wrap-card .card {
    width: 90%;
  }
}

.wrap-card .card .mat-card-header.main-color.main-font .mat-card-title {
  margin-bottom: 0;
}

.wrap-card .card .card-input {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.wrap-card .card .card-link {
  text-decoration: underline;
  cursor: pointer;
}

.wrap-card .card .card-link:hover {
  text-decoration: none;
}
