<div class="wrap-card">
  <!-- login -->
  <span *ngIf="showLogin">
    <mat-card class="card">
      <mat-card-header class="main-color main-font">
        <mat-card-title>ログイン</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="card-input">
            <mat-label>メールアドレス</mat-label>
            <input type="email" matInput [formControl]="loginMailForm">
            <mat-error *ngIf="loginMailForm.hasError('email') && !loginMailForm.hasError('required')">
              利用可能なメールアドレスを入力してください。
            </mat-error>
            <mat-error *ngIf="loginMailForm.hasError('required')">
              必須入力です。
            </mat-error>
          </mat-form-field>
          <mat-form-field class="card-input">
            <mat-label>パスワード</mat-label>
            <input type="password" matInput [formControl]="loginPassForm">
            <mat-error *ngIf="loginPassForm.hasError('required')">
              必須入力です。
            </mat-error>
            <mat-error *ngIf="loginPassForm.hasError('minlength')">
              7文字以上入力してください。
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="loginFormGroup.invalid" (click)="login()">ログイン</button>
        </form>
      </mat-card-content>
      <a class="card-link" (click)="changeDisplay()">新規登録はこちら</a>
    </mat-card>
  </span>
  <!-- signin -->
  <span *ngIf="!showLogin" >
    <mat-card class="card">
      <mat-card-header class="main-color main-font">
        <mat-card-title>新規登録</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="card-input">
            <mat-label>メールアドレス</mat-label>
            <input type="email" matInput [formControl]="siginMailForm">
            <mat-error *ngIf="siginMailForm.hasError('email') && !siginMailForm.hasError('required')">
              利用可能なメールアドレスを入力してください。
            </mat-error>
            <mat-error *ngIf="siginMailForm.hasError('required')">
              必須入力です。
            </mat-error>
          </mat-form-field>
          <mat-form-field class="card-input">
            <mat-label>パスワード</mat-label>
            <input type="password" matInput [formControl]="siginPassForm">
            <mat-error *ngIf="siginPassForm.hasError('required')">
              必須入力です。
            </mat-error>
            <mat-error *ngIf="siginPassForm.hasError('minlength')">
              7文字以上入力してください。
            </mat-error>
            <mat-error *ngIf="siginPassForm.hasError('password')">
              半角英数字を使用してください。
            </mat-error>
          </mat-form-field>
          <mat-form-field class="card-input">
            <mat-label>確認用パスワード</mat-label>
            <input type="password" matInput [formControl]="siginComfirmPassForm">
            <mat-error *ngIf="siginComfirmPassForm.hasError('required')">
              必須入力です。
            </mat-error>
            <mat-error *ngIf="siginComfirmPassForm.errors?.comparePass">
              パスワードの入力内容と一致させてください。
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="siginFormGroup.invalid" (click)="sigin()">新規登録</button>
        </form>
      </mat-card-content>
      <a class="card-link" (click)="changeDisplay()">ログインはこちら</a>
    </mat-card>
  </span>
</div>


